<div class='stationItem__container'
     ng-class="{ active: hover, currentStation: current.id == (data.id || data._id), pause: current.status == 'pause' }"
     ng-mouseover="hover = true"
     ng-mouseleave="hover = false">
  <span class='stationItem__button'
        stream
        id="{{data.id || data._id}}"
        data-streamUrl='{{data.url}}'
        data-name='{{data.name}}'>
  </span>
    <i class='bt bt-play'></i>
    <i class='bt bt-pause'></i>
    <i class='bt bt-save'>Save</i>
  </span>
  <h3>{{data.name}}</h3>
</div>
