.station__listItem{
  height: 200px;
  margin-top: 15px;
}

.list-body {
  padding-top: 15px;
  margin-bottom: 70px;
  .list-title {
    margin-left: 30px;
  }
}

.ng-view {
  float: right;
}

@mixin chart--sm() {
  .ng-view {
    float: none;
  }
  .station__listItem {
    height: 50px;
  }
}