*{
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}
ul {
  list-style: none;
  padding: 0
}
header {
  display: none;
  background: black;
  ul {
    width: 100%;
    height: 50px;
    li {
      display: inline-block;
      float: left;
      width: 49%;
      height: 100%;
      text-align: center;
      a {
        height: inherit;
        font-size: 20px;
        color: white;
      }
    }
  }
  #mobileMenu > a.nav-link:hover {
    background-color: tranparent;
  }
}
#title{
  color: pink;
  font-size: 2em;
}
#logo {
  font-size: 27px;
}

.leftSide__bar {
  height: 100vh;
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  text-align: center;
  li {
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 1.2em;
    &:hover, &.active{
      opacity: 0.8;
      background: #4e4949;
    }
  }
  a {
    color: white;
  }
}

@mixin leftSide_bar--sm() {
  .leftSide__bar {
    display: none;
    left: -10000;
  }
  header {
    display: block;
  }
}

.maindbody input {
  height: 48px;
  width: 15%;
  padding-left: 10px;
  font-size: 18px;
  position: absolute;
  right: -4px;
  top: 16px;
}

@import "charts.scss";
@import "station.scss";
@import "mediaplayer.scss";
@import "media_query.scss";